[color]
	status = auto
	branch = auto
	diff   = auto
[user]
	email = juliendimarco@me.com
	name  = Julien Di Marco
[alias]
        ci = commit
        co = checkout
        st = status
        br = branch
[core]
	editor = emacs -nw
