[color]
	status = auto
	branch = auto
	diff   = auto
	ui = true
[user]
	email = julien.dimarco@witbe.net
	name = Julien Di Marco
[alias]
        ci = commit
        co = checkout
        st = status -sb
        br = branch
[core]
	editor = emacs -nw
